# This file use version 18, read more about it here: https://releases.llvm.org/18.1.0/tools/clang/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 3
UseTab: Never
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All
IndentCaseLabels: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCaseColons: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
SpaceBeforeParens: Never
PointerAlignment: Right
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
ContinuationIndentWidth: 3
InsertBraces: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
ReferenceAlignment: Right
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AllowShortFunctionsOnASingleLine: Inline
PenaltyReturnTypeOnItsOwnLine: 1000
