*
!.gitignore
!SETUP.md
!Experts/
!Experts/AutoTrade/
!Experts/AutoTrade/**

!Indicators/
!Indicators/AutoTrade/
!Indicators/AutoTrade/**

!Libraries/
!Libraries/AutoTrade/
!Libraries/AutoTrade/**

!Include/
!Include/AutoTrade/
!Include/AutoTrade/**

**/*.ex5
**/*.log
Logs/
Tester/
Profiles/
Files/